<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        .btn-large {
            padding: 20px 40px;
            font-size: 24px;
        }

    </style>
</head>
<body class="d-flex justify-content-center align-items-center" style="height: 100vh;">

<div>
    <h2 class="text-center mb-4">Welcome!</h2>
    <a href="/login" target="_blank" class="btn btn-primary btn-lg btn-large mr-3">Login</a>
    <a href="/signup" target="_blank" class="btn btn-success btn-lg btn-large">Signup</a>
</div>

<!-- Bootstrap JS and jQuery (optional, but required for some Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>